body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}
