

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}





